flows.json
[{"id":"e9c18dd7.9447a","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"142e8256.1b62de","type":"http request","z":"e9c18dd7.9447a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":100,"wires":[["68ecf12a.9e13c"]]},{"id":"68ecf12a.9e13c","type":"function","z":"e9c18dd7.9447a","name":"Pre Prediction","func":"var token=msg.payload.access_token\nvar instance_id=\"98504a8f-bbff-47ae-9b4a-b91a6386042e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar q = global.get(\"q\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\nmsg.payload={\"fields\": [\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"BMI\",\"under-five deaths\",\"Diptheria\",\"HIV/AIDS\",\"GDP\",\"thinness 1-19 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[a,b,c,d,e,f,i,j,m,n,o,q,s,t]]};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["1cd5dac1.1259a5"]]},{"id":"1cd5dac1.1259a5","type":"http request","z":"e9c18dd7.9447a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/98504a8f-bbff-47ae-9b4a-b91a6386042e/deployments/9ccd53c5-07cc-4591-a912-bc13c1c0d699/online","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["fcd63ecf.72892","951430aa.6183c"]]},{"id":"951430aa.6183c","type":"function","z":"e9c18dd7.9447a","name":"","func":"msg.payload=msg.payload.values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["dd3ac152.2a668","d74043fe.f913f"]]},{"id":"536067f0.0a1f48","type":"function","z":"e9c18dd7.9447a","name":"pre Token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"lHGdXrrD6mu-PZS241h8JkQsKrPanljfiB53zZzMB-8P\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["142e8256.1b62de"]]},{"id":"d74043fe.f913f","type":"debug","z":"e9c18dd7.9447a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":480,"wires":[]},{"id":"31dabaf4.b703b6","type":"ui_form","z":"e9c18dd7.9447a","name":"","label":"","group":"b42eaacf.d2fb48","order":1,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","i":"","j":"","m":"","n":"","o":"","q":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["536067f0.0a1f48"]]},{"id":"dd3ac152.2a668","type":"ui_text","z":"e9c18dd7.9447a","group":"b42eaacf.d2fb48","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":260,"wires":[]},{"id":"fcd63ecf.72892","type":"debug","z":"e9c18dd7.9447a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":180,"wires":[]},{"id":"b42eaacf.d2fb48","type":"ui_group","z":"","name":"Default","tab":"aa3a32ca.c1139","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa3a32ca.c1139","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]